{% extends 'main/header.html' %}

{% block content %}

    <div class="row">

        <div class="col s12, m8, l8">
            <h3>{{hand.hand_title}}</h3>
            <p style="font-size:70%">Published {{hand.hand_published}}</p>          
            {{hand.hand_content|safe}}
            <center>
            <div class="card-action">
          <a href="#">Analyze</a>
        </div>
    </center>
        </div>

        <div class="col s12 m4 l4">
            <ul class="collapsible popout">
                {% for hand in sidebar %}
                    {% if forloop.counter0 == this_hand_idx %}
                        <li class="active">
                            <div class="collapsible-header">{{hand.hand_title}}<br>(currently viewing)</div>
                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header">{{hand.hand_title}}</div>
                            <div class="collapsible-body">
                                <p><a href="/{{hand.hand_slug}}"><button class="btn waves-effect waves-light right-align" style="background-color:yellow; color:black">Mehr Infos</button></a></p>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}